:root {
  --bs-form-select-bg-img: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  padding-bottom: 50px; /* */
}

.navbar{
  border-top: 1px solid var(--bs-border-color);
  background-color: white;
}

.card img {
  cursor: pointer;
}

.card-legend > * {
  padding-top: 2px;
  font-size: smaller;
}

#cursor {
  width: 25px; 
  text-align: center;
}

#copyright a {
  text-decoration: none;
}

header .list-unstyled a {
  text-decoration: none;
}

#vinyl_brand_svg {
  width: auto;
  height: 32px;
  /* margin-left: 0.5rem; */
}

#vinyl_share {
  background-image: url(data:image/svg+xml,%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17%202.498a3.502%203.502%200%201%201-2.597%205.851l-4.558%202.605a3.5%203.5%200%200%201%200%202.092l4.557%202.606a3.502%203.502%200%201%201-.745%201.302L9.1%2014.348a3.502%203.502%200%201%201%200-4.698l4.557-2.604A3.502%203.502%200%200%201%2017%202.498zm0%2013.5a2.002%202.002%200%201%200%200%204.004%202.002%202.002%200%200%200%200-4.004zm-10.498-6a2.002%202.002%200%201%200%200%204.004%202.002%202.002%200%200%200%200-4.004zm10.498-6a2.002%202.002%200%201%200%200%204.004%202.002%202.002%200%200%200%200-4.004z%22%20fill%3D%22black%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E);
}

.start_button {
  background-image: url(data:image/svg+xml,%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m13.75%208.412%2024.417%2012.705a3.25%203.25%200%200%201%200%205.766L13.75%2039.588A3.25%203.25%200%200%201%209%2036.705v-25.41a3.25%203.25%200%200%201%204.549-2.98l.201.097zm-1.154%202.218-.11-.047a.75.75%200%200%200-.986.712v25.41a.75.75%200%200%200%201.096.665l24.417-12.705a.75.75%200%200%200%200-1.33L12.596%2010.63z%22%20fill%3D%22black%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E);
}

.pause_button {
  background-image: url(data:image/svg+xml,%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.75%207A3.25%203.25%200%200%201%2021%2010.25v27.5A3.25%203.25%200%200%201%2017.75%2041h-5.5A3.25%203.25%200%200%201%209%2037.75v-27.5A3.25%203.25%200%200%201%2012.25%207h5.5zm18%200A3.25%203.25%200%200%201%2039%2010.25v27.5A3.25%203.25%200%200%201%2035.75%2041h-5.5A3.25%203.25%200%200%201%2027%2037.75v-27.5A3.25%203.25%200%200%201%2030.25%207h5.5zm-18%202.5h-5.5a.75.75%200%200%200-.75.75v27.5c0%20.414.336.75.75.75h5.5a.75.75%200%200%200%20.75-.75v-27.5a.75.75%200%200%200-.75-.75zm18%200h-5.5a.75.75%200%200%200-.75.75v27.5c0%20.414.336.75.75.75h5.5a.75.75%200%200%200%20.75-.75v-27.5a.75.75%200%200%200-.75-.75z%22%20fill%3D%22black%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E);
}

.stop_button {
  background-image: url(data:image/svg+xml,%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.25%204.5a.25.25%200%200%201%20.25.25v14.5a.25.25%200%200%201-.25.25H4.75a.25.25%200%200%201-.25-.25V4.75a.25.25%200%200%201%20.25-.25h14.5zM4.75%203A1.75%201.75%200%200%200%203%204.75v14.5c0%20.966.784%201.75%201.75%201.75h14.5A1.75%201.75%200%200%200%2021%2019.25V4.75A1.75%201.75%200%200%200%2019.25%203H4.75z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E);
}

.dropdown-menu[data-bs-popper] {
  left: unset;
  right: 0;
}

#sort-direction:before,
.dropdown-menu .dropdown-item:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: center;
  background-size: contain;
  transform: scale(0.8) translate(0, 8px);
}

[data-id="mySelect"]:before {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22black%22%20class%3D%22bi%20bi-sort-alpha-up%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M10.082%205.629%209.664%207H8.598l1.789-5.332h1.234L13.402%207h-1.12l-.419-1.371zm1.57-.785L11%202.687h-.047l-.652%202.157z%22%2F%3E%3Cpath%20d%3D%22M12.96%2014H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567%203.72v.054h2.645zm-8.46-.5a.5.5%200%200%201-1%200V3.707L2.354%204.854a.5.5%200%201%201-.708-.708l2-1.999.007-.007a.5.5%200%200%201%20.7.006l2%202a.5.5%200%201%201-.707.708L4.5%203.707z%22%2F%3E%3C%2Fsvg%3E);
}

qwe {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2.22%209.967%207.97%204.22l.085-.074.058-.038.072-.039.105-.04.105-.022.052-.005L8.5%204l.057.002.092.013.107.03.085.037.054.03.063.044.072.064%205.75%205.747a.75.75%200%200%201-.976%201.134l-.084-.073L9.25%206.56v16.69a.75.75%200%200%201-1.493.102l-.007-.102V6.56l-4.47%204.468a.75.75%200%200%201-.976.072l-.084-.072a.75.75%200%200%201-.073-.977l.073-.084zM19.5%204a.75.75%200%200%201%20.743.648l.007.102v16.687l4.47-4.467.084-.073a.75.75%200%200%201%201.049%201.05l-.073.083-5.728%205.727a.748.748%200%200%201-1.031.07l-.073-.07-5.728-5.727-.073-.084a.75.75%200%200%201-.007-.882l.08-.094.084-.073a.75.75%200%200%201%20.882-.007l.094.08%204.47%204.469V4.75l.007-.102A.75.75%200%200%201%2019.5%204z%22%20fill%3D%22black%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E);
}

.dropdown-menu .dropdown-item#alphabetical:before {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22black%22%20class%3D%22bi%20bi-sort-alpha-up%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M10.082%205.629%209.664%207H8.598l1.789-5.332h1.234L13.402%207h-1.12l-.419-1.371zm1.57-.785L11%202.687h-.047l-.652%202.157z%22%2F%3E%3Cpath%20d%3D%22M12.96%2014H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567%203.72v.054h2.645zm-8.46-.5a.5.5%200%200%201-1%200V3.707L2.354%204.854a.5.5%200%201%201-.708-.708l2-1.999.007-.007a.5.5%200%200%201%20.7.006l2%202a.5.5%200%201%201-.707.708L4.5%203.707z%22%2F%3E%3C%2Fsvg%3E);
}

.dropdown-menu .dropdown-item#chronological:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2248%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M24%205c10.493%200%2019%208.507%2019%2019s-8.507%2019-19%2019S5%2034.493%205%2024%2013.507%205%2024%205zm0%202.5C14.887%207.5%207.5%2014.887%207.5%2024S14.887%2040.5%2024%2040.5%2040.5%2033.113%2040.5%2024%2033.113%207.5%2024%207.5zM22.75%2012c.647%200%201.18.492%201.244%201.122l.006.128V24h6.75a1.25%201.25%200%200%201%20.128%202.494l-.128.006h-8a1.25%201.25%200%200%201-1.244-1.122l-.006-.128v-12c0-.69.56-1.25%201.25-1.25z%22%20fill%3D%22black%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E);
}

.dropdown-menu .dropdown-item#duration:before {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22473.068%22%20height%3D%22473.068%22%20fill%3D%22black%22%20style%3D%22enable-background%3Anew%200%200%20473.068%20473.068%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M355.507%20181.955c8.793-6.139%2029.39-20.519%2029.39-55.351v-71.77h9.814c4.49%200%208.17-3.679%208.17-8.169v-38.5c0-4.49-3.681-8.165-8.17-8.165H78.351c-4.495%200-8.165%203.675-8.165%208.165v38.5c0%204.491%203.67%208.169%208.165%208.169h9.82v73.071c0%2034.499%2010.502%2042.576%2029.074%2053.89l80.745%2049.203v20.984c-20.346%2012.23-73.465%2044.242-80.434%2049.107-8.793%206.135-29.384%2020.51-29.384%2055.352v61.793h-9.82c-4.495%200-8.165%203.676-8.165%208.166v38.498c0%204.49%203.67%208.17%208.165%208.17h316.361c4.49%200%208.17-3.68%208.17-8.17V426.4c0-4.49-3.681-8.166-8.17-8.166h-9.814V355.13c0-34.493-10.508-42.572-29.069-53.885l-80.745-49.202v-20.987c20.332-12.225%2073.452-44.234%2080.422-49.101zm-102.781%2090.904%2087.802%2053.5c6.734%204.109%2010.333%206.373%2012.001%209.002%201.991%203.164%202.963%209.627%202.963%2019.768v63.104H117.574V356.44c0-19.507%209.718-26.289%2016.81-31.242%205.551-3.865%2054.402-33.389%2085.878-52.289a14.701%2014.701%200%200%200%207.135-12.611v-37.563c0-5.123-2.671-9.883-7.053-12.55l-87.54-53.339-.265-.165c-6.741-4.105-10.336-6.369-11.998-9.009-1.992-3.156-2.968-9.626-2.968-19.767v-73.07h237.918v71.77c0%2019.5-9.718%2026.288-16.814%2031.235-5.546%203.872-54.391%2033.395-85.869%2052.295a14.7%2014.7%200%200%200-7.134%2012.601v37.563a14.71%2014.71%200%200%200%207.052%2012.56z%22%2F%3E%3Cpath%20d%3D%22M331.065%20154.234s5.291-4.619-2.801-3.299c-19.178%203.115-53.079%2015.133-92.079%2015.133s-57-11-82.507-11.303c-5.569-.066-5.456%203.629.937%207.391%206.386%203.758%2063.772%2035.681%2071.671%2040.08%207.896%204.389%2012.417%204.05%2020.786%200%2012.174-5.902%2083.993-48.002%2083.993-48.002zM154.311%20397.564c-6.748%206.209-9.978%2010.713%205.536%2010.713h155.442c16.099%200%209.856-5.453%202.311-12.643-14.576-13.883-45.416-23.566-82.414-23.566-38.754%200-65.844%2011.655-80.875%2025.496z%22%2F%3E%3C%2Fsvg%3E);
}

.dropdown-menu .dropdown-item#random:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.47%205.47a.75.75%200%200%200%200%201.06l.72.72h-3.813a1.75%201.75%200%200%200-1.575.987l-.21.434a.4.4%200%200%200%200%20.35l.568%201.174a.2.2%200%200%200%20.36%200l.632-1.304a.25.25%200%200%201%20.225-.141h3.812l-.72.72a.75.75%200%201%200%201.061%201.06l2-2a.75.75%200%200%200%200-1.06l-2-2a.75.75%200%200%200-1.06%200zM10.034%2015.329a.4.4%200%200%200%200-.35l-.57-1.174a.2.2%200%200%200-.36%200l-.63%201.304a.25.25%200%200%201-.226.141H5a.75.75%200%200%200%200%201.5h3.248a1.75%201.75%200%200%200%201.575-.987l.21-.434z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M16.47%2018.53a.75.75%200%200%201%200-1.06l.72-.72h-3.813a1.75%201.75%200%200%201-1.575-.987L8.473%208.89a.25.25%200%200%200-.225-.141H5a.75.75%200%200%201%200-1.5h3.248c.671%200%201.283.383%201.575.987l3.329%206.872a.25.25%200%200%200%20.225.141h3.812l-.72-.72a.75.75%200%201%201%201.061-1.06l2%202a.75.75%200%200%201%200%201.06l-2%202a.75.75%200%200%201-1.06%200z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E);
}

#sort-direction:before {
  margin-right: unset;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%3E%3Cpath%20fill%3D%22%23black%22%20fill-rule%3D%22nonzero%22%20d%3D%22M2.22%209.967%207.97%204.22l.085-.074.058-.038.072-.039.105-.04.105-.022.052-.005L8.5%204l.057.002.092.013.107.03.085.037.054.03.063.044.072.064%205.75%205.747a.75.75%200%200%201-.976%201.134l-.084-.073L9.25%206.56v16.69a.75.75%200%200%201-1.493.102l-.007-.102V6.56l-4.47%204.468a.75.75%200%200%201-.976.072l-.084-.072a.75.75%200%200%201-.073-.977zM19.5%204a.75.75%200%200%201%20.743.648l.007.102v16.687l4.47-4.467.084-.073a.75.75%200%200%201%201.049%201.05l-.073.083-5.728%205.727a.75.75%200%200%201-1.031.07l-.073-.07-5.728-5.727-.073-.084a.75.75%200%200%201-.007-.882l.08-.094.084-.073a.75.75%200%200%201%20.882-.007l.094.08%204.47%204.469V4.75l.007-.102A.75.75%200%200%201%2019.5%204%22%2F%3E%3C%2Fsvg%3E);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
